:root {
    --main-color: #e75b1e;
    --main-color-alt: white;
    --second-color: #333; 
}
html {
    scroll-behavior: smooth;
}
body {
    font-family: 'Roboto', sans-serif;
    overflow: hidden;
}
/*section loader*/
.loader {
    background-color: var(--main-color-alt);
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 99;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all .6s ease-in;
}
.load {
    background-image: url(../images/loader-animation.gif);
    background-position: center;
    background-size: cover;
    width: 300px;
    height: 300px;
    transition: all .6s ease-in;
}
.loader-hidden {
    opacity: 0;
    z-index: -11;
}
/*section loader*/
/*start header*/
/*start nav*/
header {
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 11;
}
.fixed-nav {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 11;
    padding: 8px 0 0 0;
    background-color: #202020;
    transition: .3s ease-in;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
}
.fixed-nav .navbar-brand img {
    width: 150px;
    padding: 8px 0;
}
header nav li.active .nav-link {
    color: var(--main-color);
}
header nav .nav-link {
    color: var(--main-color-alt);
    font-size: 14px;
    margin-left: 10px;
    padding-top: 20px;
    font-weight: 500;
    letter-spacing: .6px;
    text-transform: uppercase;
    position: relative;
}
header nav .nav-link::after {
    content: "";
    position: absolute;
    width: 0px;
    height: 3px;
    background-color: #b5b5b5;
    bottom: -11px;
    left: 8px;
    transition: all .3s ease-in;
}
header nav li.active .nav-link::after {
    background-color: var(--main-color);
    width: 80%;
}
header nav .nav-link:hover {
    color: var(--main-color-alt);
}
header nav .nav-link:hover::after {
    width: 80%;
}
.navbar .navbar-toggler {
    color: var(--main-color);
    font-size: 24px;
    border: 1px solid var(--main-color);
}
.navbar .navbar-toggler:focus {
    box-shadow: none;
}
@media(max-width:992px) {
    header .navbar .navbar-collapse {
        background: #202020;
        padding: 10px
    }
    header nav .nav-link {
        margin-top: 10px;
    }
    header nav .nav-link::after {
        left: 0px !important;
        bottom: -4px;
    }
    header nav li.active .nav-link::after {
        width: 100%;
    }
    header nav .nav-link:hover::after {
        width: 100%;
    }
}
/*end nav*/
/*end header*/
/*for all heading*/
.heading {
    font-size: 52px;
    color: var(--main-color);
}
@media (max-width:767px) {
    .heading {
        font-size: 36px;
    }
}
h1, h2, h3 {
    font-family: 'Pattaya', sans-serif;
}
/*end for all heading*/
/*for all button*/
.button {
    position: relative;
    background-color: var(--main-color);
    color: var(--main-color-alt);
    border: 3px solid var(--main-color);
    text-decoration: none;
}
.button:hover {
    background: transparent;
    color: var(--main-color-alt);
    border: 3px solid var(--main-color);
}
.button::after {
    content: "";
    position: absolute;
    bottom: -1px;
    background-color: var(--main-color);
    width: 0%;
    height: 4px;
    left: 50%;
    transform: translateX(-50%);
    transition: all .3s ease-in;
}
.button:hover::after {
    width: 100%;
}
/*for all button*/
/*start main*/
main {
    background: url(../images/banner.jpg) fixed center;
    background-size: cover;
    min-height: 100vh;
}
main .info {
    transform: translateY(50%);
    margin-bottom: 210px;
}
main .info h1 {
    color: var(--main-color-alt);
    font-size: 70px;
}
main .info h1:after {
    content: "friends";
    color: var(--main-color);
    animation: changing 3s ease-in 1s infinite;
    transition: animation 3s ease-in;
}
@keyframes changing {
    0% {
        content: "friends";
    }
    25% {
        content: "family";
    }
    50% {
        content: "officemates";
    }
}
main .info h2 {
    color: var(--main-color);
    font-size: 40px;
}
main .info p {
    color: #ccc;
    font-size: 19px;
    margin-top: 23px;
    margin-bottom: 45px;
}
main .info a {
    font-size: 20px;
    font-weight: 700;
    padding: 14px 40px;
    transition: all .3s ease-in;
}
main .mouse {
    position: relative;
    width: 60px;
    height: 125px;
    border: 2px solid var(--main-color-alt);
    border-radius: 60px;
    margin: auto;
}
main .mouse::after {
    content: "";
    position: absolute;
    top: 20px;
    left: 21px;
    width: 15px;
    height: 15px;
    border: 2px solid var(--main-color-alt);
    border-radius: 50%;
    animation: scroll 2.5s ease-in 1s infinite forwards;
    transition: animation 1s ease-in;
}
@keyframes scroll {
    0% {
        opacity: 1;
        top: 20px;
    }
    25% {
        opacity: .4;
        top: 30px;
    }
    50% {
        opacity: .2;
        top: 35px;
    }
    100% {
        opacity: 0;
        top: 40px;
    }
}
@media (max-width:767px) {
    main .info h1 {
        font-size: 42px;
    }
    main .info h2 {
        font-size: 26px;
    }
    main .info p {
        font-size: 15px;
    }
}
/*end main*/
/*start section about*/
.about {
    background-color: #E6E6E6;
    padding-top: 90px;
    padding-bottom: 60px;
}
.about .about-info h5 {
    font-weight: 700;
    margin-bottom: 12px;
}
.about .about-info p {
    color: #686868;
    font-size: 15px;
    line-height: 1.6;
}
.about .about-image {
    position: relative;
}
.about .about-image img {
    border: 10px solid #f1f1f1;
}
.about .last-image img {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 2;
}
/*end section about*/
/*start section special-menu*/
.special-menu {
    background: url(../images/special_menu_bg.jpg) center no-repeat fixed;
    background-size: cover;
    padding-top: 60px;
    padding-bottom: 35px;
    position: relative;
}
.special-menu::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.67);
    width: 100%;
    height: 100%;
}
.special-menu .special-box {
    position: relative;
}
.special-menu .text {
    width: 80%;
}
.special-menu .special-box .text p {
    color: var(--main-color-alt);
    font-size: 18px;
    line-height: 1.5;
}
.special-menu .swiper-wrapper {
    margin-bottom: 60px;
}
.special-menu .swiper-wrapper .swiper-slide {
    border: 4px solid var(--main-color-alt);
}
.special-menu .special-box img {
    width: 100%;
}
.special-menu .swiper-wrapper .swiper-slide .info {
    position: absolute;
    bottom: 0px;
    color: var(--main-color-alt);
    border: 4px solid var(--main-color-alt);
    width: 70%;
    padding: 12px;
    transform: translateX(50px) translateY(0) scaleX(0) skewY(0deg) skewX(0deg) scaleY(0);
    transition: all .4s ease-in;
}
.special-menu .swiper-wrapper .swiper-slide:hover .info {
    transform: translateX(50px) translateY(0) scaleX(1) skewY(0deg) skewX(0deg) scaleY(1);
}
.special-menu .swiper-wrapper .swiper-slide .info h5 {
    font-size: 18px;
}
.special-menu .swiper-wrapper .swiper-slide .info h5::before {
    content: "";
    position: absolute;
    top: 38px;
    left: 48px;
    background-color: var(--main-color-alt);
    width: 60%;
    height: 1px;
    margin-top: 10px;
}
.special-menu .swiper-wrapper .swiper-slide .info p {
    font-size: 14px;
    font-style: italic;
}
.special-menu .swiper-wrapper .swiper-slide::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(231, 91, 30, 0.5);
    opacity: 0;
    transition: all .4s ease-in;
    cursor: pointer;
}
.special-menu .swiper-wrapper .swiper-slide:hover:before {
    opacity: 1;
}
.special-menu .swiper-pagination-bullet {
    padding: 7px;
    border: 2px solid var(--main-color-alt);
    outline: none;
    transition: all .5s ease-in-out;
}
.special-menu .swiper-pagination-bullet-active {
    background-color: var(--main-color);
}
@media (max-width:767px) {
    .special-menu .special-box .text p {
        font-size: 16px;
    }
}
/*end section special-menu*/
/*start section menu*/
.menu {
    padding-top: 90px;
    padding-bottom: 80px;
}
.menu .text {
    width: 80%;
}
.menu .text p {
    color: #666;
    font-size: 18px;
    line-height: 1.7;
}
.menu .tap-menu {
    background: #f5f5f5;
    box-shadow: 0 0 8px 5px rgba(0, 0, 0, 0.05);
    margin-top: 30px;
    overflow: hidden;
}
.menu .tap-menu .taps {
    border-bottom: 1px solid #cccccc;
}
.menu .tap-menu ul li {
    padding: 10px;
    cursor: pointer;
    transition: .3s ease-in-out;
}
.menu .tap-menu ul li.active {
    background: var(--main-color);
    color: #fff;
}
.menu .tap-menu ul li h4 {
    width: fit-content;
    margin: auto;
    font-weight: 400;
    padding-bottom: 10px;
    border-bottom: 1px solid #666;
}
.menu .tap-menu ul li.active h4 {
    border-color: #fff;
}
.menu .tap-menu ul li svg {
    margin: 20px auto;
}
.menu .content .box-body {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 8px;
}
.menu .content .box-body img {
    border: 10px solid white;
}
.menu .content .box-body .box-info {
    display: flex;
    align-items: center;
}
.menu .content .box-body .box-info .box-text {
    width:74%;
}
.menu .content .box-body .box-info h5 {
    color: var(--main-color);
    font-family: 'Pattaya', sans-serif;
}
.menu .content .box-body .box-info p {
    color: #6b6b6b;
    font-size: 14px;
    line-height: 1.8;
}
.menu .content .box-body .box-info span {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    text-align: center;
    border: 1px solid var(--main-color);
    border-radius: 50%;
    width: 90px;
    height: 90px;
}
@media (max-width:767px) {
    .menu .text p {
        font-size: 16px;
    }
    .menu .content .box-body {
        flex-direction: column;
        text-align: center;
    }
    .menu .content .box-body .box-info {
        flex-direction: column;
    }
}
/*end section menu*/
/*start section our team*/
.our-team {
    background: url(../images/team_bg.jpg) no-repeat fixed;
    background-size: cover;
    padding-top: 90px;
    padding-bottom: 60px;
    position: relative;
}
.our-team::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.50);
    width: 100%;
    height: 100%;
}
.our-team .team {
    position: relative;
}
.our-team .text {
    width: 80%;
}
.our-team .text h2 {
    color: var(--main-color-alt);
}
.our-team .text p {
    color: var(--main-color-alt);
    font-size: 18px;
    line-height: 1.7;
}
.our-team .team-info .image {
    background-color: black;
}
.our-team .team-info img {
    transition: all .5s linear;
}
.our-team .team-info:hover img {
    opacity: .6;
}
.our-team .team-info .team-text {
    background-color: var(--main-color-alt);
    border: 1px solid #ccc;
    transition: all .5s linear;
}
.our-team .team-info:hover .team-text {
    background-color: var(--main-color);
    color: var(--main-color-alt);
    border-color: var(--main-color);
}
.our-team .team-info .team-text p {
    color: #686868;
    font-size: 14px;
    line-height: 1.7;
    transition: all .5s linear;
}
.our-team .team-info:hover .team-text p {
    color: var(--main-color-alt);
}
.our-team .team-info .team-text ul {
    border-top: 1px solid black;
    padding-top: 22px;
    margin-bottom: 5px;
    transition: all .5s linear;
}
.our-team .team-info:hover .team-text ul {
    border-color: var(--main-color-alt);
}
.our-team .team-info .team-text a {
    color: #222;
}
.our-team .team-info .team-text svg {
    border: 1px solid #ccc;
    border-radius: 50%;
    padding: 8px 10px;
    margin-left: 10px;
    transition: all .5s linear;
}
.our-team .team-info:hover .team-text svg {
    background-color: var(--main-color-alt);
    border-color: var(--main-color)
}
@media (max-width:767px) {
    .our-team .text p {
        font-size: 16px;
    }
}
/*end section our team*/
/*start section gallery*/
.gallery {
    padding-top: 90px;
    padding-bottom: 80px;
}
.gallery .text p {
    color: #666;
    font-size: 18px;
    margin-bottom: 40px;
}
.gallery .image {
    height: 350px;
    overflow: hidden;
    position: relative;
}
.gallery .image::before {
    font-family: "Font Awesome 6 free";
    content: '\f002';
    font-weight: 900;
    font-size: 30px;
    color: var(--main-color-alt);
    position: absolute;
    top: 0;
    left: 0;
    line-height: 350px;
    width: 100%;
    height: 100%;
    background: rgba(231, 91, 30, 0.75);
    opacity: 0;
    transition: all .4s ease-in;
    cursor: pointer;
}
.gallery .image:hover:before {
    opacity: 1;
}
.gallery img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}
.gallery .modal button {
    position: absolute;
    right: -12px;
    top: -10px;
    z-index: 10;
    width: 0.7em;
    height: 0.7em;
    display: flex;
    align-items: center;
    justify-content: center;
    background: black;
    background-image: none;
    border: 2px solid var(--main-color-alt);
    border-radius: 50%;
    opacity: 1;
}
.gallery .modal button svg {
    font-size: 10px;
    color: var(--main-color-alt);
}
.gallery .modal .description {
    position: absolute;
    bottom: 0px;
    width: 100%;
    padding: 10px;
    text-align: left;
    font-weight: 300;
    background: rgba(0,0,0,0.5);
    color: var(--main-color-alt);
}
/*end section gallery*/
/*start section blog*/
.blog {
    background: url(../images/blog_bg.jpg) no-repeat fixed;
    background-size: cover;
    padding-top: 90px;
    padding-bottom: 70px;
    position: relative;
}
.blog::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.50);
    width: 100%;
    height: 100%;
}
.blog .blog-body {
    position: relative;
}
.blog .blog-body h2 {
    color: var(--main-color-alt);
}
.blog .blog-body .blog-box {
    background-color: var(--main-color-alt);
    display: flex;
    align-items: center;
}
.blog .blog-body .blog-block {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}
.blog .blog-body .blog-box p {
    font-size: 12px;
    color: #ccc;
    padding-top: 7px;
}
.blog .blog-body .blog-box h4 {
    font-size: 22px;
    padding: 24px;
    margin-bottom: 20px;
    border-top: 1px solid #eaeaea;
    border-bottom: 1px solid #eaeaea;
}
.blog .blog-body .blog-box span {
    font-size: 11px;
    color: #ccc;
    padding-bottom: 7px;
}
.blog .blog-btn a {
    font-size: 18px;
    font-weight: bold;
    padding: 16px 40px;
    transition: all 0.3s ease-in;
}
@media(max-width: 992px) {
    .blog .blog-body .blog-box h4 {
        font-size: 14px;
        padding: 24px;
    }
}
/*end section blog*/
/*start section Pricing*/
.Pricing {
    background: url(../images/full-bg.png) center no-repeat;
    background-size: cover;
    padding-top: 90px;
    padding-bottom: 70px;
}
.Pricing .text {
    width: 80%;
}
.Pricing .text p {
    color: #666;
    font-size: 18px;
    line-height: 1.7;
}
.Pricing .panel {
    border: 1px solid var(--main-color);
    border-radius: 4px;
    transition: all .5s ease-in-out;
}
.Pricing .panel:hover {
    transform: translateY(-10px);
    box-shadow: 0px 0px 30px rgb(0 0 0 / 20%);
}
.Pricing .panal-heading {
    background-color: var(--main-color);
    padding: 20px;
}
.Pricing .panal-heading h4 {
    color: var(--main-color-alt);
    font-size: 18px;
    font-weight: bold;
    padding: 10px;
}
.Pricing .panel-body {
    background-color: #f0f0f0;
}
.Pricing .panel-body p {
    font-size: 40px;
    padding: 20px;
    border-top: 1px solid transparent;
    border-bottom: 1px solid #dddddd;
    margin-bottom: 0px;
}
.Pricing .panel-body p span {
    color: var(--main-color);
}
.Pricing .panel-main-body li {
    font-size: 15px;
    padding: 10px;
    border-bottom: 1px solid #ddd;
    background-color: #fff;
}
.Pricing .panel-main-body li:last-child {
    border-bottom: none;
}
.Pricing .panel-main-body li svg {
    padding-right: 4px;
}
.Pricing .panel-footer {
    background-color: #f5f5f5;
    padding: 10px 15px;
}
.Pricing .panel-footer a {
    display: block;
    font-size: 18px;
    padding: 10px 10px;
    transition: all 0.5s ease-in-out;
}
.Pricing .panel-footer a:hover {
    color: black;
}
/*end section Pricing*/
/*start section reservaions*/
.reservaions {
    padding-top: 90px;
    padding-bottom: 80px;
}
.reservaions p {
    color: #686868;
    margin-bottom: 25px;
}
.reservaions .form-box {
    margin: 10px auto;
}
.reservaions .form-box input , select {
    background-color: #f5f5f5;
    outline: none;
    border: 2px dotted #ccc;
    padding: 10px;
    width: 100%;
    border-radius: 5px;
    cursor: pointer;
}
.reservaions .form-box select {
    cursor: pointer;
}
.reservaions .form-button button {
    font-size: 18px;
    font-weight: 700;
    padding: 10px 40px;
    transition: all 0.5s ease-in-out;
    margin-top: 30px;
}
.reservaions .form-button button:hover {
    color: black;
}
/*end section reservaions*/
/*start section contact-us*/
.contact-us {
    background: url(../images/newsletter-bg.jpg) no-repeat fixed center;
    background-size: cover;
    padding-top: 90px;
    padding-bottom: 90px;
    position: relative;
}
.contact-us::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.50);
    width: 100%;
    height: 100%;
}
.contact-main {
    position: relative;
}
.contact-us h2 {
    color: var(--main-color-alt);
}
.contact-us p {
    color: var(--main-color-alt);
}
.contact-us form input {
    width: 60%;
    padding: 12px;
    border: 2px dotted #ccc;
    border-radius: 4px;
    border-right: none;
    outline: none;
    caret-color: var(--main-color);
}
.contact-us form button {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--main-color);
    color: var(--main-color-alt);
    border: 2px dotted #ccc;
    margin-left: -3px;
    border-radius: 4px;
    outline: none;
    transition: all 1s ease-in-out;
    cursor: pointer;
}
.contact-us form button svg {
    font-size: 18px;
    padding: 14px;
}
.contact-us button:hover {
    background-color: var(--main-color-alt);
    color: black;
    border: 2px dotted var(--main-color);
}
/*end section contact-us*/
/*start section upper-footer*/
.upper-footer {
    background: url(../images/footer_background.jpg) no-repeat center;
    background-size: cover;
    padding-top: 70px;
    padding-bottom: 50px;
    position: relative;
}
.upper-footer::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.67);
    width: 100%;
    height: 100%;
}
.upper-footer .upper-footer-main {
    position: relative;
}
.upper-footer .image {
    margin-bottom: 45px;
}
.upper-footer h3 {
    color: var(--main-color);
}
.upper-footer .about-footer p {
    color: var(--main-color-alt);
    font-size: 14px;
    line-height: 1.9;
}
.upper-footer .about-footer svg {
    color: var(--main-color-alt);
    font-size: 19px;
    margin-right: 20px;
    transition: all .3s ease-in-out;
}
.upper-footer .about-footer svg:hover {
    color: var(--main-color);
}
.upper-footer .menu-footer a {
    color: var(--main-color-alt);
    font-size: 14px;
    line-height: 2.3;
    text-decoration: none;
    transition: all .4s ease-in;
}
.upper-footer .menu-footer a:hover {
    color: var(--main-color);
    padding-left: 8px;
}
.upper-footer .contact-footer ul {
    line-height: 2.6;
}
.upper-footer .contact-footer span {
    color: var(--main-color-alt);
    font-size: 14px;
}
.upper-footer .contact-footer svg {
    color: var(--main-color);
    margin-right: 10px;
    font-size: 18px;
}
.upper-footer .contact-footer a {
    color: var(--main-color-alt);
    font-size: 14px;
    transition: all .4s ease;
    text-decoration: none;
}
.upper-footer .contact-footer a:hover {
    color: var(--main-color);
}
.upper-footer .box-footer li {
    margin-bottom: 15px;
}
.upper-footer .box-footer p {
    color: var(--main-color-alt);
    font-size: 14px;
    margin-bottom: 0px;
}
.upper-footer .box-footer li span {
    color: #666;
    font-size: 14px;
}
/*end section upper-footer*/
/*start footer*/
footer {
    background: var(--main-color);
    color: white;
    border-top: 2px dotted white;
    padding-top: 23px;
    padding-bottom: 2px;
}
/*end footer*/
/*start scroll top*/
.scroll-top {
    position: fixed;
    bottom: 20px;
    right: 40px;
    cursor: pointer;
    opacity: 0.3;
    display: none;
    transition: all .8s ease-in;
    z-index: 22;
}
.scroll-top.active {
    display: block;
}
.scroll-top.active:hover {
    opacity: .8;
}
/*end scroll top*/